:root {
    --color-apsj-base-border: rgba(128, 0, 0, 1);
    --color-apsj-base-background: rgba(128, 0, 0, 0.75);
    --color-apsj-magic-border: rgb(92, 135, 185);
    --color-apsj-light-background: rgba(255, 255, 255, 0.75);
    --color-apsj-dark-background: rgba(64, 64, 64, 0.25);
}

/*
  D&D Look-alike Fonts
  Credit: https://github.com/jonathonf/solbera-dnd-fonts
*/

@font-face {
    font-family: 'BookInsanity';
    src: url('../fonts/BookInsanity/BookInsanity.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BookInsanity';
    src: url('../fonts/BookInsanity/BookInsanityBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BookInsanity';
    src: url('../fonts/BookInsanity/BookInsanityItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'BookInsanity';
    src: url('../fonts/BookInsanity/BookInsanityBoldItalic.otf')
        format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'MrEaves';
    src: url('../fonts/MrEaves/MrEaves.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ScalySans';
    src: url('../fonts/ScalySans/ScalySans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ScalySans';
    src: url('../fonts/ScalySans/ScalySansBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ScalySans';
    src: url('../fonts/ScalySans/ScalySansItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ScalySans';
    src: url('../fonts/ScalySans/ScalySansBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'ScalySansCaps';
    src: url('../fonts/ScalySans/ScalySansCaps.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ScalySansCaps';
    src: url('../fonts/ScalySans/ScalySansCapsBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ScalySansCaps';
    src: url('../fonts/ScalySans/ScalySansCapsItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ScalySansCaps';
    src: url('../fonts/ScalySans/ScalySansCapsBoldItalic.otf')
        format('opentype');
    font-weight: 700;
    font-style: italic;
}

/*
  Core Style Overrides
*/

/* .window-app .window-content {
    background-image: url(../assets/parchment-medium.webp) !important;
} */

.editor-content table tbody tr td {
    padding: 0 15px;
}

.editor-content table tbody tr td:first-child {
    white-space: nowrap;
}

.editor-content blockquote {
    margin-bottom: 1.5em;
}

.editor-content {
    padding-right: 5px;
    overflow-x: hidden;
}

li > .entity-link {
    line-height: 1.75em;
}

table thead {
    background-color: var(--color-apsj-base-border) !important;
    font-family: 'ScalySansCaps';
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color-shadow-dark);
}

td {
    font-family: 'ScalySans';
    font-weight: 400;
}

a.entity-link,
a.content-link,
a.inline-roll {
    font-family: 'ScalySans';
    font-weight: 700;
    border-radius: 0.35em !important;
    background: linear-gradient(
        var(--color-apsj-light-background),
        var(--color-apsj-dark-background)
    ) !important;
}

a.entity-link i,
a.content-link i,
a.inline-roll i {
    text-shadow: 1px 1px 2px var(--color-shadow-dark);
}

/*
 Monk's Enhanced Journal Style Overrides
*/

.monks-journal-sheet .header-name {
    font-family: 'Modesto Condensed';
}

.monks-journal-sheet.sheet .sheet-header .sheet-image {
    background: rgb(226, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(95, 0, 0, 0.75) 0%,
        rgba(181, 0, 0, 0.75) 31%,
        rgba(226, 0, 0, 0.75) 55%,
        rgba(164, 0, 0, 0.75) 84%,
        rgba(255, 0, 0, 0.75) 100%
    ) !important;
}

.monks-journal-sheet.sheet .items-list .items-header {
    background: var(--color-apsj-base-background) !important;
    color: var(--color-text-light-0) !important;
}

.monks-enhanced-journal .mainbar .navigation {
    background: var(--color-apsj-base-background) !important;
}

.monks-journal-sheet.sheet .journal-subsheet .items-list .item-controls input {
    border: 1px solid var(--color-text-light-0) !important;
    background: var(--color-apsj-light-background) !important;
}

.monks-enhanced-journal .sidebar-directory .action-buttons button {
    border: 1px solid var(--color-text-light-0) !important;
    background: var(--color-apsj-light-background) !important;
}

.monks-enhanced-journal .mainbar .navigation .nav-input {
    border: 1px solid var(--color-text-light-0) !important;
    background: var(--color-apsj-light-background) !important;
}

/*
  Stylish Text Styles
  */

.dnd-title {
    font-family: 'Modesto Condensed';
    font-weight: 700;
}

.adv-title {
    font-family: 'Dungeon';
    font-weight: 700;
}

.dnd-heading {
    font-family: 'MrEaves';
    font-weight: 700;
}

.dnd-data {
    font-family: 'ScalySans';
    font-weight: 700;
}

.dnd-text {
    font-family: 'BookInsanity';
    font-weight: 400;
}

/*
  Stylish Templates: Panels
 */

.panel {
    width: 90%;
    margin: 1em 5%;
    padding: 6px 8px;
    line-height: 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px var(--color-shadow-dark);
    color: var(--color-text-light-highlight);
    list-style: none;
}

.panel::before {
    position: relative;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 8px;
    float: left;
}

.panel header {
    margin: 0;
    font-family: 'ScalySansCaps';
    font-weight: 400;
    text-shadow: 1px 1px 2px var(--color-shadow-dark);
}

.panel.info {
    background: rgb(57, 90, 150);
    border: 2px solid rgb(110, 150, 200);
}

.panel.info::before {
    content: '\f05a';
}

.panel.note {
    background: rgb(214, 150, 0);
    border: 2px solid #f6be07;
}

.panel.note::before {
    content: '\f044';
}

.panel.warning {
    background: rgb(128, 0, 0);
    border: 2px solid #d00000;
}

.panel.warning::before {
    content: '\f06a';
}

.panel.bonus {
    background: rgb(101, 155, 0);
    border: 2px solid #8ad304;
}

.panel.bonus::before {
    content: '\f559';
}

/*
  Stylish Templates: Blocks
 */

.block {
    margin: 0 5%;
    padding: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.block-contents {
    display: flex;
    flex: 1;
    gap: 1em;
}

.block-contents > main {
    flex: 4;
}

.block-contents > aside {
    flex: 2;
}

.block h1 {
    font-family: 'Modesto Condensed';
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color-shadow-dark);
}

.block h2,
.block h3,
.block h4,
.block h5,
.block h6 {
    font-family: 'MrEaves';
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color-shadow-dark);
}

.block p {
    font-family: 'BookInsanity';
    font-weight: 400;
}

.block.magic-item {
    color: var(--color-text-light-0);
    border: 2px solid var(--color-apsj-magic-border);
    border-radius: 0.5em;
    background: url('../assets/magic-stars.webp') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--color-shadow-dark);
}

.block.magic-item h1,
.block.magic-item h2,
.block.magic-item h3,
.block.magic-item h4,
.block.magic-item h5,
.block.magic-item h6,
.block.magic-item hr {
    text-shadow: 1px 1px 2px var(--color-shadow-dark);
    border-bottom: 2px solid var(--color-apsj-magic-border);
}

.block.magic-item a.entity-link,
.block.magic-item a.content-link,
.block.magic-item a.inline-roll {
    border: 1px solid var(--color-apsj-magic-border) !important;
    text-shadow: 1px 1px 2px var(--color-shadow-dark);
}

.block.magic-item a.entity-link i,
.block.magic-item a.content-link i,
.block.magic-item a.inline-roll i {
    color: var(--color-apsj-light-background) !important;
    text-shadow: 1px 1px 2px var(--color-shadow-dark);
}

.block.magic-item a:hover {
    text-shadow: 0 0 8px var(--color-apsj-magic-border);
}

.block.read-aloud {
    border: 2px solid var(--color-apsj-base-border);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-light-background),
        var(--color-apsj-dark-background)
    );
    box-shadow: 0 0 5px var(--color-shadow-dark);
}

.icon {
    float: left;
    margin: 0 8px 0 -30px;
}

.icon::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-base-border);
    text-shadow: 1px 1px 2px var(--color-shadow-dark);
    content: '\f4ad';
}

.block.read-aloud a.entity-link,
.block.read-aloud a.content-link,
.block.read-aloud a.inline-roll {
    border: 1px solid var(--color-apsj-base-border) !important;
}

.red-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(rgba(255, 0, 0, 0.75), rgba(124, 0, 0, 0.75));
    border: 2px solid var(--color-apsj-base-border);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-shadow-dark);
}

.blue-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(rgba(6, 68, 180, 0.75), rgba(0, 40, 103, 0.75));
    border: 2px solid var(--color-apsj-magic-border);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-shadow-dark);
}

.light-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-light-background),
        var(--color-apsj-dark-background)
    );
    border: 2px solid var(--color-apsj-base-border);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-shadow-dark);
}
