/**
* APSJ Custom Properties
**/

:root {
    --color-apsj-primary: rgb(128, 0, 0);
    --color-apsj-background-primary: rgba(128, 0, 0, 0.75);
    --color-apsj-border-primary: rgb(160, 0, 0);

    --color-apsj-light-0: rgb(255, 255, 255);
    --color-apsj-light-1: rgb(238, 238, 238);
    --color-apsj-light-2: rgb(221, 221, 221);
    --color-apsj-light-3: rgb(204, 204, 204);
    --color-apsj-light-4: rgb(187, 187, 187);
    --color-apsj-light-5: rgb(170, 170, 170);
    --color-apsj-light-6: rgb(153, 153, 153);
    --color-apsj-light-7: rgb(136, 136, 136);
    --color-apsj-dark-7: rgb(119, 119, 119);
    --color-apsj-dark-6: rgb(102, 102, 102);
    --color-apsj-dark-5: rgb(85, 85, 85);
    --color-apsj-dark-4: rgb(68, 68, 68);
    --color-apsj-dark-3: rgb(51, 51, 51);
    --color-apsj-dark-2: rgb(34, 34, 34);
    --color-apsj-dark-1: rgb(17, 17, 17);
    --color-apsj-dark-0: rgb(0, 0, 0);

    --color-apsj-background-bonus: rgba(7, 103, 144, 0.75);
    --color-apsj-background-effect: rgba(52, 26, 255, 0.75);
    --color-apsj-background-info: rgba(18, 69, 170, 0.75);
    --color-apsj-background-loot: rgba(0, 128, 0, 0.75);
    --color-apsj-background-note: rgba(214, 150, 0, 0.75);
    --color-apsj-background-trap: rgba(255, 128, 0, 0.75);
    --color-apsj-background-warning: rgba(128, 0, 0, 0.75);

    --color-apsj-background-light-0: rgba(255, 255, 255, 0.75);
    --color-apsj-background-light-1: rgba(238, 238, 238, 0.75);
    --color-apsj-background-light-2: rgba(221, 221, 221, 0.75);
    --color-apsj-background-light-3: rgba(204, 204, 204, 0.75);
    --color-apsj-background-light-4: rgba(187, 187, 187, 0.75);
    --color-apsj-background-light-5: rgba(170, 170, 170, 0.75);
    --color-apsj-background-light-6: rgba(153, 153, 153, 0.75);
    --color-apsj-background-light-7: rgba(136, 136, 136, 0.75);
    --color-apsj-background-dark-7: rgba(119, 119, 119, 0.75);
    --color-apsj-background-dark-6: rgba(102, 102, 102, 0.75);
    --color-apsj-background-dark-5: rgba(85, 85, 85, 0.75);
    --color-apsj-background-dark-4: rgba(68, 68, 68, 0.75);
    --color-apsj-background-dark-3: rgba(51, 51, 51, 0.75);
    --color-apsj-background-dark-2: rgba(34, 34, 34, 0.75);
    --color-apsj-background-dark-1: rgba(17, 17, 17, 0.75);
    --color-apsj-background-dark-0: rgba(0, 0, 0, 0.75);

    --color-apsj-background-light-50: rgba(255, 255, 255, 0.5);
    --color-apsj-background-light-51: rgba(238, 238, 238, 0.5);
    --color-apsj-background-light-52: rgba(221, 221, 221, 0.5);
    --color-apsj-background-light-53: rgba(204, 204, 204, 0.5);
    --color-apsj-background-light-54: rgba(187, 187, 187, 0.5);
    --color-apsj-background-light-55: rgba(170, 170, 170, 0.5);
    --color-apsj-background-light-56: rgba(153, 153, 153, 0.5);
    --color-apsj-background-light-57: rgba(136, 136, 136, 0.5);
    --color-apsj-background-dark-57: rgba(119, 119, 119, 0.5);
    --color-apsj-background-dark-56: rgba(102, 102, 102, 0.5);
    --color-apsj-background-dark-55: rgba(85, 85, 85, 0.5);
    --color-apsj-background-dark-54: rgba(68, 68, 68, 0.5);
    --color-apsj-background-dark-53: rgba(51, 51, 51, 0.5);
    --color-apsj-background-dark-52: rgba(34, 34, 34, 0.5);
    --color-apsj-background-dark-51: rgba(17, 17, 17, 0.5);
    --color-apsj-background-dark-50: rgba(0, 0, 0, 0.5);

    --color-apsj-border-bonus: rgb(0, 136, 195);
    --color-apsj-border-effect: rgb(120, 103, 255);
    --color-apsj-border-info: rgb(1, 86, 255);
    --color-apsj-border-loot: rgb(0, 192, 0);
    --color-apsj-border-note: rgb(246, 190, 7);
    --color-apsj-border-trap: rgb(255, 160, 0);
    --color-apsj-border-warning: rgb(160, 0, 0);

    --color-apsj-theme-blue: rgba(18, 69, 170, 0.75);
    --color-apsj-theme-cyan: rgba(7, 103, 144, 0.75);
    --color-apsj-theme-green: rgba(0, 128, 0, 0.75);
    --color-apsj-theme-none: rgba(0, 0, 0, 0, 0.75);
    --color-apsj-theme-orange: rgba(255, 128, 0, 0.75);
    --color-apsj-theme-purple: rgba(52, 26, 255, 0.75);
    --color-apsj-theme-red: rgba(128, 0, 0, 0.75);
    --color-apsj-theme-yellow: rgba(214, 150, 0, 0.75);

    --font-apsj-awesome: 'FontAwesome';
    --font-apsj-book: 'BookInsanity', serif;
    --font-apsj-modesto: 'Modesto Condensed', 'Palatino Linotype', serif;
    --font-apsj-mreaves: 'MrEaves', serif;
    --font-apsj-scalysans: 'ScalySans', sans-serif;
    --font-apsj-scalycaps: 'ScalySansCaps', sans-serif;
    --font-apsj-signika: 'Signika', sans-serif;
}

/**
* Color Themes
**/

:root.blue {
    --color-apsj-primary: rgb(18, 69, 170);
    --color-apsj-background-primary: rgba(18, 69, 170, 0.75);
    --color-apsj-border-primary: rgb(1, 86, 255);
}

:root.cyan {
    --color-apsj-primary: rgb(7, 103, 144);
    --color-apsj-background-primary: rgba(7, 103, 144, 0.75);
    --color-apsj-border-primary: rgb(0, 136, 195);
}

:root.green {
    --color-apsj-primary: rgb(0, 128, 0);
    --color-apsj-background-primary: rgba(0, 128, 0, 0.75);
    --color-apsj-border-primary: rgb(0, 192, 0);
}

:root.none {
    --color-apsj-primary: rgb(0, 0, 0);
    --color-apsj-background-primary: rgba(255, 255, 255, 0);
    --color-apsj-border-primary: rgb(255, 255, 255);
}

:root.orange {
    --color-apsj-primary: rgb(255, 128, 0);
    --color-apsj-background-primary: rgba(255, 128, 0, 0.75);
    --color-apsj-border-primary: rgb(255, 160, 0);
}

:root.purple {
    --color-apsj-primary: rgb(52, 26, 255);
    --color-apsj-background-primary: rgba(52, 26, 255, 0.75);
    --color-apsj-border-primary: rgb(120, 103, 255);
}

:root.yellow {
    --color-apsj-primary: rgb(214, 150, 0);
    --color-apsj-background-primary: rgba(214, 150, 0, 0.75);
    --color-apsj-border-primary: rgb(246, 190, 7);
}

/**
* D&D Look-alike Fonts
* Credit: https://github.com/jonathonf/solbera-dnd-fonts
**/

@font-face {
    font-family: 'BookInsanity';
    src: url('../fonts/BookInsanity/BookInsanity.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BookInsanity';
    src: url('../fonts/BookInsanity/BookInsanityBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BookInsanity';
    src: url('../fonts/BookInsanity/BookInsanityItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'BookInsanity';
    src: url('../fonts/BookInsanity/BookInsanityBoldItalic.otf')
        format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'MrEaves';
    src: url('../fonts/MrEaves/MrEaves.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ScalySans';
    src: url('../fonts/ScalySans/ScalySans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ScalySans';
    src: url('../fonts/ScalySans/ScalySansBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ScalySans';
    src: url('../fonts/ScalySans/ScalySansItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ScalySans';
    src: url('../fonts/ScalySans/ScalySansBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'ScalySansCaps';
    src: url('../fonts/ScalySans/ScalySansCaps.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ScalySansCaps';
    src: url('../fonts/ScalySans/ScalySansCapsBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ScalySansCaps';
    src: url('../fonts/ScalySans/ScalySansCapsItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ScalySansCaps';
    src: url('../fonts/ScalySans/ScalySansCapsBoldItalic.otf')
        format('opentype');
    font-weight: 700;
    font-style: italic;
}

/**
* Font Awesome 5 Free
* Included with Foundry VTT but apparently it can't be referenced from with a TinyMCE editor
**/

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/fa-solid-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/**
* Core Style Overrides
**/

.editor-content table tbody tr td {
    padding: 0 15px;
}

.editor-content table tbody tr td:first-child {
    white-space: nowrap;
}

.editor-content blockquote {
    margin-bottom: 1.5em;
}

.editor-content {
    padding-right: 5px;
    overflow-x: hidden;
}

li > .entity-link {
    line-height: 1.75em;
}

table {
    width: 90% !important;
    margin: 1em 5% !important;
}

table thead {
    background: var(--color-apsj-background-primary) !important;
    font-family: var(--font-apsj-scalycaps);
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

tbody tr td {
    font-family: var(--font-apsj-scalysans);
    font-weight: 400;
}

a.entity-link,
a.content-link,
a.inline-roll {
    font-family: var(--font-apsj-scalysans);
    font-weight: 700;
    border: 1px solid var(--color-apsj-primary) !important;
    border-radius: 0.35em !important;
    background: linear-gradient(
        var(--color-apsj-background-light-0),
        var(--color-apsj-background-dark-4)
    ) !important;
}

a.entity-link i,
a.content-link i,
a.inline-roll i {
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

/**
* Monk's Enhanced Journal Overrides
**/

.monks-journal-sheet .header-name {
    font-family: var(--font-apsj-modesto);
}

.monks-journal-sheet.sheet .sheet-header .sheet-image {
    background: linear-gradient(
        var(--color-apsj-background-light-4),
        var(--color-apsj-background-dark-4)
    ) !important;
}

.monks-journal-sheet.sheet .items-list .items-header {
    background: var(--color-apsj-background-primary) !important;
    color: var(--color-apsj-light-0) !important;
}

.dnd5e .monks-enhanced-journal .mainbar > div {
    border-bottom: 1px solid var(--color-apsj-primary) !important;
}

.dnd5e .monks-enhanced-journal .tab-bar .journal-tab .tab-content {
    color: var(--color-apsj-dark-0) !important;
}

.dnd5e .monks-enhanced-journal .tab-bar,
.monks-enhanced-journal .bookmark-bar,
.monks-enhanced-journal .directory .directory-header {
    background: var(--color-apsj-background-primary) !important;
    color: var(--color-apsj-light-0) !important;
}

.dnd5e .monks-enhanced-journal .tab-bar .journal-tab {
    border: 1px solid var(--color-apsj-light-2) !important;
    background: var(--color-apsj-background-light-3) !important;
    color: var(--color-apsj-dark-2) !important;
}

.dnd5e .monks-enhanced-journal .tab-bar .journal-tab:hover {
    background: var(--color-apsj-background-primary) !important;
    border: 1px solid var(--color-apsj-primary) !important;
    color: var(--color-apsj-light-3) !important;
}

.monks-enhanced-journal .mainbar .navigation {
    background: var(--color-apsj-background-primary) !important;
    color: var(--color-apsj-light-0) !important;
}

.monks-enhanced-journal .mainbar .navigation .nav-button {
    color: var(--color-apsj-dark-2) !important;
}

.dnd5e
    .monks-journal-sheet.sheet
    .journal-subsheet
    .items-list
    .item-controls
    input,
.dnd5e .monks-enhanced-journal .sidebar-directory .action-buttons button,
.monks-enhanced-journal .bookmark-bar .bookmark-button,
.dnd5e .monks-enhanced-journal .tab-bar .journal-tab.active {
    border: 1px solid var(--color-apsj-light-0) !important;
    background: var(--color-apsj-background-light-0) !important;
    color: var(--color-apsj-dark-2) !important;
}

.monks-enhanced-journal .mainbar .navigation .nav-button:hover,
.monks-enhanced-journal .bookmark-bar .bookmark-button:hover,
.dnd5e
    .monks-journal-sheet.sheet
    .journal-subsheet
    .items-list
    .item-controls
    input:hover,
.dnd5e .monks-enhanced-journal .sidebar-directory .action-buttons button:hover,
.dnd5e .monks-enhanced-journal .tab-bar .journal-tab.active:hover,
.dnd5e .monks-journal-sheet .journal-subsheet .encounter-buttons > div:hover {
    color: var(--color-apsj-light-3) !important;
    background: var(--color-apsj-border-primary) !important;
    border: 1px solid var(--color-apsj-light-3) !important;
}

.dnd5e .monks-enhanced-journal .mainbar .navigation .nav-input {
    border: 1px solid var(--color-apsj-light-0) !important;
    background: var(--color-apsj-background-light-0) !important;
    color: var(--color-apsj-dark) !important;
}

.dnd5e #journal-directory li.journalentry {
    border-top: 1px solid var(--color-apsj-border-primary) !important;
    border-bottom: 1px solid var(--color-apsj-primary) !important;
    color: var(--color-apsj-dark) !important;
}

.dnd5e #journal-directory li.journalentry:hover {
    background: var(--color-apsj-background-primary) !important;
    border-top: 1px solid var(--color-apsj-light-3) !important;
    border-bottom: 1px solid var(--color-apsj-light-3) !important;
    color: var(--color-apsj-light-3) !important;
}

/**
* Stylish Text Styles
**/

.dnd-title {
    font-family: var(--font-apsj-modesto) !important;
    font-weight: 700 !important;
    font-size: 36pt !important;
}

.dnd-heading {
    font-family: var(--font-apsj-mreaves) !important;
    font-weight: 700 !important;
    font-size: 24pt !important;
}

.black-border {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.dnd-data {
    font-family: var(--font-apsj-scalysans) !important;
    font-weight: 700 !important;
    font-size: 16pt !important;
}

.dnd-data-heading {
    font-family: var(--font-apsj-scalycaps) !important;
    font-weight: 700 !important;
    font-size: 18pt !important;
}

.dnd-panel-heading {
    font-family: var(--font-apsj-scalycaps) !important;
    font-weight: 700 !important;
    font-size: 16pt !important;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

.dnd-text {
    font-family: var(--font-apsj-book) !important;
    font-weight: 400 !important;
    font-size: 16pt !important;
}

/**
* Stylish Templates: Panels
**/

.panel {
    width: 90%;
    margin: 1em 5%;
    padding: 6px 8px;
    line-height: 20px;
    border-radius: 5px;
    background: var(--color-apsj-background-dark-0);
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
    color: var(--color-apsj-light-0);
    list-style: none;
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
}

.panel::before {
    position: relative;
    margin-right: 8px;
    float: left;
}

.panel header {
    margin: 0;
}

.panel.bonus {
    background: var(--color-apsj-background-bonus);
    border: 2px solid var(--color-apsj-border-bonus);
}

.panel.bonus::before {
    content: '\f559';
}

.panel.effect {
    background: var(--color-apsj-background-effect);
    border: 2px solid var(--color-apsj-border-effect);
}

.panel.effect::before {
    content: '\f0d0';
}

.panel.info {
    background: var(--color-apsj-background-info);
    border: 2px solid var(--color-apsj-border-info);
}

.panel.info::before {
    content: '\f05a';
}

.panel.loot {
    background: var(--color-apsj-background-loot);
    border: 2px solid var(--color-apsj-border-loot);
}

.panel.loot::before {
    content: '\f51e';
}

.panel.note {
    background: var(--color-apsj-background-note);
    border: 2px solid var(--color-apsj-border-note);
}

.panel.note::before {
    content: '\f044';
}

.panel.trap {
    background: var(--color-apsj-background-trap);
    border: 2px solid var(--color-apsj-border-trap);
}

.panel.trap::before {
    content: '\f78c';
}

.panel.warning {
    background: var(--color-apsj-background-warning);
    border: 2px solid var(--color-apsj-border-warning);
}

.panel.warning::before {
    content: '\f06a';
}

/**
* Stylish Templates: Blocks
**/

.block {
    margin: 1em;
    padding: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.block-contents {
    display: flex;
    flex: 1;
    gap: 1em;
}

.block-contents > main {
    flex: 4;
}

.block-contents > aside {
    flex: 2;
}

.block h1 {
    font-family: var(--font-apsj-modesto) !important;
    font-weight: 700 !important;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0) !important;
}

.block h2,
.block h3,
.block h4,
.block h5,
.block h6 {
    font-family: var(--font-apsj-mreaves) !important;
    font-weight: 700 !important;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0) !important;
}

.block.deck-card {
    color: var(--color-apsj-light-0) !important;
    border: 2px solid rgb(120, 103, 255) !important;
    border-radius: 0.5em;
    background: url('../assets/deck-stars.webp') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/Cards.webp) no-repeat center;
    min-height: 270px;
    min-width: 270px;
}

.block.deck-card img {
    border: none !important;
    height: 100px;
    width: auto;
}

.block.deck-card h1,
.block.deck-card h2,
.block.deck-card h3,
.block.deck-card h4,
.block.deck-card h5,
.block.deck-card h6 {
    color: var(--color-apsj-light-0) !important;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0) !important;
    border-bottom: 2px solid rgb(120, 103, 255) !important;
}

.block.deck-card .dnd-text {
    color: var(--color-apsj-light-0) !important;
}

.block.deck-card hr {
    color: var(--color-apsj-border-info) !important;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0) !important;
    border-bottom: 2px solid rgb(120, 103, 255) !important;
}

.block.deck-card a.entity-link,
.block.deck-card a.content-link,
.block.deck-card a.inline-roll {
    color: var(--color-apsj-light-0) !important;
    border: 1px solid rgb(120, 103, 255) !important;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0) !important;
}

.block.deck-card a.entity-link i,
.block.deck-card a.content-link i,
.block.deck-card a.inline-roll i {
    color: var(--color-apsj-background-light-0) !important;
}

.block.deck-card a:hover {
    text-shadow: 0 0 8px var(--color-apsj-border-info) !important;
}

.block.encounter {
    border: 2px solid var(--color-apsj-border-warning);
    border-radius: 0.5em;
    background: url('../assets/parchment-bloody.webp') no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px var(--color-apsj-dark-0);
}

.block.magic-item {
    color: var(--color-apsj-light-0) !important;
    border: 2px solid var(--color-apsj-border-info) !important;
    border-radius: 0.5em;
    background: url('../assets/magic-stars.webp') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.block.magic-item h1,
.block.magic-item h2,
.block.magic-item h3,
.block.magic-item h4,
.block.magic-item h5,
.block.magic-item h6 {
    color: var(--color-apsj-light-0) !important;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0) !important;
    border-bottom: 2px solid var(--color-apsj-border-info) !important;
}

.block.magic-item .dnd-text {
    color: var(--color-apsj-light-0) !important;
}

.block.magic-item hr {
    color: var(--color-apsj-border-info) !important;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0) !important;
    border-bottom: 2px solid var(--color-apsj-border-info) !important;
}

.block.magic-item a.entity-link,
.block.magic-item a.content-link,
.block.magic-item a.inline-roll {
    color: var(--color-apsj-light-0) !important;
    border: 1px solid var(--color-apsj-border-info) !important;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0) !important;
}

.block.magic-item a.entity-link i,
.block.magic-item a.content-link i,
.block.magic-item a.inline-roll i {
    color: var(--color-apsj-background-light-0) !important;
}

.block.magic-item a:hover {
    text-shadow: 0 0 8px var(--color-apsj-border-info) !important;
}

.block.read-aloud {
    border: 2px solid var(--color-apsj-border-primary);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-0),
        var(--color-apsj-background-dark-4)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.ra-icon,
.dialogue-icon-left {
    float: left;
    margin: 0 8px 0 -25px;
}

.dialogue-icon-right {
    float: right;
    margin: 0 -25px 0 8px;
}

.ra-icon::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-primary);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f4ad';
}

.block.dialogue-blue {
    border: 2px solid var(--color-apsj-border-info);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-0),
        var(--color-apsj-background-dark-4)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.dialogue-icon-left.blue::before,
.dialogue-icon-right.blue::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-theme-blue);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.dialogue-cyan {
    border: 2px solid var(--color-apsj-border-bonus);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-0),
        var(--color-apsj-background-dark-4)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.dialogue-icon-left.cyan::before,
.dialogue-icon-right.cyan::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-theme-cyan);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.dialogue-green {
    border: 2px solid var(--color-apsj-border-loot);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-0),
        var(--color-apsj-background-dark-4)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.dialogue-icon-left.green::before,
.dialogue-icon-right.green::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-theme-green);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.dialogue-orange {
    border: 2px solid var(--color-apsj-border-trap);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-0),
        var(--color-apsj-background-dark-4)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.dialogue-icon-left.orange::before,
.dialogue-icon-right.orange::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-theme-orange);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.dialogue-purple {
    border: 2px solid var(--color-apsj-border-effect);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-0),
        var(--color-apsj-background-dark-4)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.dialogue-icon-left.purple::before,
.dialogue-icon-right.purple::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-theme-purple);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.dialogue-red {
    border: 2px solid var(--color-apsj-border-primary);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-0),
        var(--color-apsj-background-dark-4)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.dialogue-icon-left.red::before,
.dialogue-icon-right.red::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-theme-red);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.dialogue-yellow {
    border: 2px solid var(--color-apsj-border-warning);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-0),
        var(--color-apsj-background-dark-4)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.dialogue-icon-left.yellow::before,
.dialogue-icon-right.yellow::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-theme-yellow);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

/**
* Overlays
**/

.red-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-border-warning),
        var(--color-apsj-background-warning)
    );
    border: 2px solid var(--color-apsj-border-warning);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.blue-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-border-info),
        var(--color-apsj-background-info)
    );
    border: 2px solid var(--color-apsj-border-info);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.light-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    border: 2px solid var(--color-apsj-primary);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

/**
* Theme Switcher
*/

#theme-switcher {
    position: relative;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    border: 4px solid rgb(165, 124, 70);
    border-radius: 25px;
    background: url(../assets/parchment-medium.webp);
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
    z-index: 999;
    width: 50px;
}

#theme-switcher div {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid var(--color-apsj-light-0);
    border-radius: 50%;
    padding-left: 20px;
    font-size: 20px;
    width: 20px;
    height: 25px;
    font-family: var(--font-apsj-scalycaps);
}

.ct-none {
    background: var(--color-apsj-theme-none);
}

.ct-blue {
    background: var(--color-apsj-theme-blue);
}

.ct-cyan {
    background: var(--color-apsj-theme-cyan);
}

.ct-green {
    background: var(--color-apsj-theme-green);
}

.ct-orange {
    background: var(--color-apsj-theme-orange);
}

.ct-purple {
    background: var(--color-apsj-theme-purple);
}

.ct-red {
    background: var(--color-apsj-theme-red);
}

.ct-yellow {
    background: var(--color-apsj-theme-yellow);
}

/*Fix Wfrp4e & Monk's Enhanced Journal*/
.wfrp4e.app.window-app .dialog-buttons button,
.app.window-app .sheet-footer button,
.app.window-app .form-group .file-picker,
.app.window-app button[type='button'],
.app.window-app button[type='submit'],
.app.window-app button[type='reset'] {
    width: auto !important;
}

.tox .tox-menubar {
    background: url(../assets/parchment.webp) !important;
}
